<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <style>
{% include site.css %}
    </style>
    <title>CV for {{ site.data.resume.name }}</title>
  </head>
  <body>
    <header id="main_head">
      <h1>{{ site.data.resume.name }}'s CV</h1>
      <nav>
        {%- for role in site.data.resume.roles -%}
          <a id="{{ role | replace: " ", "_" | downcase }}_link" href="javascript:void(0)" onclick="toggleRole('{{ role | replace: " ", "_" | downcase }}');return false">{{ role }}</a>
        {%- endfor -%}
      </nav>
    </header>

    {% capture allroles %}
      {%- for role in site.data.resume.roles -%}
      {{ role | replace: " ", "_" | downcase }}{{ " " }}
      {%- endfor -%}
    {% endcapture %}

    <main>
    <section>
      <h2 class="summary {{ allroles }}">Summary</h2>
    {%- for summary in site.data.resume.summaries %}
    <div class="summary {{ summary[0] | replace: " ", "_" | downcase }}">
      <h3 class="summary_head">{{ summary[0] }}</h3>
      <p>{{ summary[1] }}</p>
    </div>
    {%- endfor %}
    </section>

    <section>
    <h2 class="experience {{ allroles }}">Experience</h2>
    {%- for job in site.data.resume.experience %}
    {% capture roles %}
      {%- for role in job.roles -%}
      {{ role | replace: " ", "_" | downcase }}{{ " " }}
      {%- endfor -%}
    {% endcapture %}
    <div class="experience {{ roles }}">
      <div class="flex_header">
      <h3>{{ job.employer }}</h3>
      <div>{{ job.roles[0] }}</div>
      <div>{{ job.when }}</div>
      </div>
      <ul>
        {%- for bullet in job.responsibilities -%}
        <li>{{ bullet }}</li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endfor %}
    </section>

    <section>
    <h2 class="patents {{ allroles }}">Patents</h2>
    <div class="patents {{ allroles }}">
    <ul class="patents_list">
      {%- for patent in site.data.resume.patents %}
      <li><b>{{ patent.name }}</b> as <a target="_blank" href="https://patents.google.com/patent/{{ patent.number }}">{{ patent.number }}</a> on <em>{{ patent.filed }}</em></li>
      {%- endfor %}
    </ul>
    </div>
    </section>


    <section>
    <h2 class="certs {{ allroles }}">Certifications</h2>
    <ul class="{{ allroles }}">
      {%- for cert in site.data.resume.certs %}
      {% capture roles %}
        {%- for role in cert.roles -%}
        {{ role | replace: " ", "_" | downcase }}{{ " " }}
        {%- endfor -%}
      {% endcapture %}
      <li class="certs {{ roles }}"><b>{{ cert.name }}</b> - {{ cert.date }}</li>
      {%- endfor %}
    </ul>
    </section>

    <section>
    <h2 class="projects {{ allroles }}">Projects</h2>
    <ul class="{{ allroles }}">
      {%- for project in site.data.resume.projects %}
      {% capture roles %}
        {%- for role in project.roles -%}
        {{ role | replace: " ", "_" | downcase }}{{ " " }}
        {%- endfor -%}
      {% endcapture %}
      <li class="projects {{ roles }}"><a href="{{ project.url }}">{{ project.name }}</a></li>
      {%- endfor %}
    </ul>
    </section>

    <section>
    <h2 class="degrees {{ allroles }}">Degrees</h2>
    {%- for ed in site.data.resume.education %}
    <div class="degrees {{ allroles }}">
      <div class="flex_header">
      <h3>{{ ed.degree }}</h3>
      <div>{{ ed.major }}</div>
      </div>
      <div class="flex_header">
      <h3>{{ ed.school }}</h3>
      <div>{{ ed.where }}</div>
      <div>{{ ed.when }}</div>
      </div>
    </div>
    {%- endfor %}
    </section>

    <section>
    <h2 class="skills {{ allroles }}">Skills</h2>
    <div class="flex_row_wrapper">
      {%- for skill in site.data.resume.skills %}
      {% capture roles %}
        {%- for role in skill.roles -%}
        {{ role | replace: " ", "_" | downcase }}{{ " " }}
        {%- endfor -%}
      {% endcapture %}
      <section class="skills {{ roles }}">
        <h3>{{ skill.name }}</h3>
        <ul>
          {%- for list in skill.list %}
          <li>{{ list }}</li>
          {%- endfor %}
        </ul>
      </section>
      {%- endfor %}
    </div>
    </section>
    </main>

    <script>
      {% for role in site.data.resume.roles -%}
      document.querySelectorAll('.{{ role | replace: " ", "_" | downcase }}').forEach((roleDiv) => {
        roleDiv.hidden = true;
      });
      {% endfor -%}
    </script>
    <script>
      {% include site.js %}
    </script>
  </body>
</html>
